#INST "gen_bee3mem/ddr/rInhibit/rbx" TNM = RINHIBIT;
#INST "gen_bee3mem/ddr/AFfull" TNM = DDR_AFfull;
#TIMESPEC TS_ADDRTIG = FROM "RINHIBIT" TO "DDR_AFfull" TIG;
#AREA_GROUP "pblock_gen_bee3mem" RANGE=SLICE_X0Y75:SLICE_X7Y109;
AREA_GROUP "pblock_gen_bee3mem" RANGE=SLICE_X0Y70:SLICE_X7Y109;
AREA_GROUP "pblock_gen_bee3mem" RANGE=RAMB36_X0Y15:RAMB36_X0Y21;
AREA_GROUP "pblock_gen_bee3mem" GROUP=CLOSED;

AREA_GROUP "pblock_fm" RANGE=SLICE_X28Y50:SLICE_X55Y117, SLICE_X0Y40:SLICE_X27Y124;
AREA_GROUP "pblock_fm" RANGE=DSP48_X0Y20:DSP48_X0Y45;
AREA_GROUP "pblock_fm" RANGE=RAMB36_X0Y7:RAMB36_X1Y25;

AREA_GROUP "ddrbank0" RANGE=SLICE_X0Y41:SLICE_X5Y47;
AREA_GROUP "ddrbank0" GROUP=CLOSED;

AREA_GROUP "ddrbank2" RANGE=SLICE_X0Y35:SLICE_X5Y40;
AREA_GROUP "ddrbank2" GROUP=CLOSED;


AREA_GROUP "ddrbank3" RANGE=SLICE_X0Y48:SLICE_X5Y55;
AREA_GROUP "ddrbank3" GROUP=CLOSED;


AREA_GROUP "ddrbank4" RANGE=SLICE_X0Y56:SLICE_X5Y62;
AREA_GROUP "ddrbank4" GROUP=CLOSED;


AREA_GROUP "ddrbank5" RANGE=SLICE_X0Y118:SLICE_X5Y124;
AREA_GROUP "ddrbank5" GROUP=CLOSED;


AREA_GROUP "ddrbank1" RANGE=SLICE_X0Y27:SLICE_X5Y34;
AREA_GROUP "ddrbank1" GROUP=CLOSED;


AREA_GROUP "ddrbank6" RANGE=SLICE_X0Y125:SLICE_X5Y132;
AREA_GROUP "ddrbank6" GROUP=CLOSED;


AREA_GROUP "ddrbank7" RANGE=SLICE_X0Y133:SLICE_X5Y138;
AREA_GROUP "ddrbank7" GROUP=CLOSED;

INST "*gen_dmmutlb*tlb_ram" TNM = "TNM_DTLBRAM";
INST "*dc_bram*dc_ram*" TNM = "TNM_DCACHE";
TIMESPEC TS_DTLB_DCACHE = FROM "TNM_DTLBRAM" TO "TNM_DCACHE" 10 ns;

INST "*gen_dmmutlb*delr_mem1*" TNM = "TNM_DTLBREG";
TIMESPEC TS_DTLBREG_DCACHE = FROM "TNM_DTLBREG" TO "TNM_DCACHE" 10 ns;

INST "*gen_immutlb*itlbram_split*" TNM = "TNM_ITLBRAM";
INST "*ic_bram*ic_ram*" TNM = "TNM_ICACHE";
TIMESPEC TS_ITLB_ICACHE = FROM "TNM_ITLBRAM" TO "TNM_ICACHE" 10 ns;

INST "*gen_immutlb*r_walk_stat*" TNM = "TNM_ITLBVALID";
INST "gen_cpu/gen_de/*" TNM = "TNM_DECODE";
TIMESPEC TS_ITLB_DECODE = FROM "TNM_ITLBVALID" TO "TNM_DECODE" 10 ns;

INST "gen_cpu/gen_regacc/*" TNM = "TNM_REGACC";
TIMESPEC TS_ITLB_REGACC = FROM "TNM_ITLBVALID" TO "TNM_REGACC" 10 ns;

INST "gen_cpu/gen_dcache/mshr_ram*" TNM = "TNM_MSHR";
TIMESPEC TS_MSHR_DCACHE = FROM "TNM_MSHR" TO "TNM_DCACHE" 10 ns;

INST "gen_cpu/gen_dcache/delr_xc*" TNM = "TNM_DCREG1";
TIMESPEC TS_DCREG1_DCACHE = FROM "TNM_DCREG1" TO "TNM_DCACHE" 10 ns;

INST "gen_cpu/gen_dcache/r_we_tag*" TNM = "TNM_DCREG2";
TIMESPEC TS_DCREG2_DCACHE = FROM "TNM_DCREG2" TO "TNM_DCACHE" 10 ns;

INST "gen_cpu/gen_irqmp/ipi*" TNM = "TNM_IPI";
TIMESPEC TS_DCREG1_IPI = FROM "TNM_DCREG1" TO "TNM_IPI" 10 ns;
TIMESPEC TS_DCREG2_IPI = FROM "TNM_DCREG2" TO "TNM_IPI" 10 ns;
TIMESPEC TS_MSHR_IPI = FROM "TNM_MSHR" TO "TNM_IPI" 10 ns;

INST "gen_cpu/gen_irqmp/delr_xc.tid*" TNM = "TNM_IRQTID";
TIMESPEC TS_IRQTID_IPI = FROM "TNM_IRQTID" TO "TNM_IPI" 10 ns;
TIMESPEC TS_IRQTID_DCACHE = FROM "TNM_IRQTID" TO "TNM_DCACHE" 10 ns;

INST "gen_cpu/gen_dmmu/*" TNM = "TNM_DMMUREG";
TIMESPEC TS_DMMUREG_DCACHE = FROM "TNM_DMMUREG" TO "TNM_DCACHE" 10 ns;
TIMESPEC TS_DMMUREG_IPI = FROM "TNM_DMMUREG" TO "TNM_IPI" 10 ns;

INST "gen_cpu/gen_timer*" TNM = "TNM_TIMER";
TIMESPEC TS_TIMER_DCACHE = FROM "TNM_TIMER" TO "TNM_DCACHE" 10 ns;

INST "gen_cpu/gen_irqmp/irl*" TNM = "TNM_IRL";
TIMESPEC TS_IRL_DCACHE = FROM "TNM_IRL" TO "TNM_DCACHE" 10 ns;

INST "*gen_immutlb/flush*" TNM = "TNM_IMMUFLUSH";
TIMESPEC TS_IMMUFLUSH_ITLBRAM = FROM "TNM_IMMUFLUSH" TO "TNM_ITLBRAM" 10 ns;

INST "*gen_immutlb*" TNM = "TNM_IMMUREG";
TIMESPEC TS_IMMUREG_ICACHE = FROM "TNM_IMMUREG" TO "TNM_ICACHE" 10 ns;

INST "gen_cpu/*r_mrin*" TNM = "TNM_MEMRIN";
TIMESPEC TS_MEMRIN_DCACHE = FROM "TNM_MEMRIN" TO "TNM_DCACHE" 10 ns;

INST "gen_cpu/gen_dmem_if/mem2iu_stat.busy" TNM = "TNM_DMEMBUSY";
TIMESPEC TS_DMEMBUSY_DCACHE = FROM "TNM_DMEMBUSY" TO "TNM_DCACHE" 10 ns;
TIMESPEC TS_DMEMBUSY_IPI = FROM "TNM_DMEMBUSY" TO "TNM_IPI" 10 ns;

INST "*gen_immu/delr_de*" TNM = "TNM_IMMUIFREG";
INST "*gen_icache/delr_de*" TNM = "TNM_ICACHEREG";
TIMESPEC TS_IMMUIFREG_ICACHE = FROM "TNM_IMMUIFREG" TO "TNM_ICACHE" 10 ns;

CONFIG POST_CRC = ENABLE;